* {
  box-sizing:border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
}

p {
  padding-top: 10px;
  padding-bottom: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.piskvorky {
  max-width: 370px;
  box-shadow: 0px 0px 20px 0px rgba(154, 130, 184, 0.44);
  margin-top: 80px;
  margin-bottom: 50px;
}

.uvodni img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: block;
}

.obsah {
  background-color: #283e50;
  text-align: center;
  padding: 13px;
  line-height: 1.5;
}
.tlacitka a {
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacitHrat {
  background-color: #0197f6;
}

.zacitHrat:hover {
  background-color: #0090e9;
}

.piskvorky--rules {
  max-width: 370px;
  box-shadow: 0px 0px 20px 0px rgba(154, 130, 184, 0.44);
  margin-top: 80px;
  margin-bottom: 50px;
}

.pravidlatxt {
  background-color: #283e50;
  text-align: left;
  padding: 13px;
  line-height: 1.5;
  border-radius: 4px 4px 0 0;
}

ol {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
}

ol > li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.describe {
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.describe-img {
  max-width: 100%;
}

.symbol {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@media (min-width: 750px) {
  .piskvorky--rules {
    max-width: 740px;
    font-size: 1.2em;
  }

  .instruction {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 20px) / 2);
    justify-content: space-around;
  }

  .describe,
  .foto {
    width: 340px;
  }

h3 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin: 20px;
  margin-left:500px;
}

.strankaHry{
  width: 80vw; 
  height: 80vw
}

.hraje {
  color:white;
  font-size: 30px;
  padding-left:10px;
}

.domecek {
  background-color:#1fcca4;
  padding: 20px 30px;
  font-size: 10px;
  margin: 4px;
  width: 8%;
  border-radius:6px;
}

.domecek:hover, :focus {
    background-color: #1cbb96;
  }

.klikRestart {
  background-color: #0197f6;
  color: white;
  padding: 20px 30px;
  font-size: 10px;
  margin: 4px;
  width: 8%;
  border-radius:6px;
}

.klikRestart:hover, :focus {
  background-color:  #0090e9;
}

.text {
  display:flex;
  justify-content:space-between;
  width: 80vw;
  margin-left:110px;
}

.buttonPress {
  width: 10%;
  border: 1px solid;
  margin:0;
  padding:0;
  background-color: rgb(255,105,180, 0.3);
}

.buttonPress:hover {
 background-color: rgb(255,105,180, 0.5);
}

.obrazky {
  display:flex;
  justify-content:flex-end;
  margin-bottom: 30px;
  margin-left:500px;
}

.buttony {
 display: flex; 
 flex-wrap: wrap; 
 width: 80vw; 
 height: 80vw;
 margin-left:110px;
    }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
    }

.circle {
width: 0.7em;
height: 0.7em;
filter:invert(100%);
    }

.hra {
 max-width: 80vmin;
    }

